* {
    font-family: Arial, Helvetica, sans-serif;
    
}

main {
    max-width: 800px;
    margin: 0px auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#link_carrinho, #link_filtrar_capacetes, #link_filtrar_blusas, #link_filtrar_todos {
    color: antiquewhite;
    cursor: pointer;
}

.acoes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.acoes a {
    flex: 1;
}

#link_carrinho:hover {
   font-weight: bold;
}

section {
    margin: 50px;
    background-color: gray;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.produto {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    flex: calc(25%)
}

.produto img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}